* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* reset */

/* common */
.flex {
    display: flex;
}

.padding-0-30 {
    padding-left: 30px;
    padding-right: 30px;
}

section {
    padding: 60px 0px;
}

.br-small {
    border-radius: 15px;
}

.br-big {
    border-radius: 30px;
}
/* fine common */


/* nav */
nav {
    background-color: #0084FD;
    color: white;
    
    height: 75px; 
    /* test */

    justify-content: space-between;
    align-items: center;
}
/* fine nav */


/* prima section  */
section:nth-of-type(1) .cards {
    flex-direction: column;
    gap: 25px;
}

section:nth-of-type(1) .card {
    background-color: #B5DDFF;

    height: 360px;
    /* test */
}

section:nth-of-type(1) .card:nth-of-type(1) {
    height: 720px;
}
/* fine prima section  */


/* seconda section  */
section:nth-of-type(2) {
    background-color: #9792E4;
    flex-direction: column;
    gap: 25px;
}

section:nth-of-type(2) .img {
    width: 100%;
    margin-bottom: 25px;

    height: 300px;
    background-color: white;
    /* test */
}

.development {
    height: 300px;
    background-color: white;
    /* test */
}
/* fine seconda section */


/* terza section */
.testimonials {
    height: 200px;
    margin-bottom: 50px;

    background-color: #9792E4;
    /* test */
}
section:nth-of-type(3) .card {
    height: 500px;
    background-color: #9792E4;
    margin-bottom: 25px;
}
/* fine terza section */
