* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* reset */

/* common */
body {
    font-family: 'PT Sans', sans-serif;
}

.flex {
    display: flex;
}

.padding-0-30 {
    padding-left: 30px;
    padding-right: 30px;
}

section {
    padding: 60px 0px;
}

h3 {
    color: #0084FD;
    padding-bottom: 30px;
}

.br-small {
    border-radius: 15px;
}

.br-big {
    border-radius: 30px;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.container-small {
    max-width: 890px;
    margin: auto;
}
/* fine common */


/* nav */
nav {
    background-color: #0084FD;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 10;

}

.logo {
    padding: 15px 0px;
}

.menu {
    font-size: 24px;
    align-items: center;
}
.container {
    justify-content: space-between;
}

.links {
    display: none;
}
/* fine nav */


/* prima section  */
section:nth-of-type(1) {
    padding-top: calc(74px + 48px);
}
section:nth-of-type(1) .cards {
    flex-direction: column;
    gap: 25px;
}

section:nth-of-type(1) .card {
    background-color: #B5DDFF;
    padding: 30px 30px;
    flex-direction: column;
    text-align: center;
}

section:nth-of-type(1) .card .fa-solid {
    color: #0084FD;
    font-size: 80px;
    padding-bottom: 30px;
}

section:nth-of-type(1) .card:nth-of-type(1) {
    padding-bottom: 0px;
    gap: 35px;
    text-align: left;
}

section:nth-of-type(1) .card:nth-of-type(1) p {
    padding-bottom: 30px;
}

.button-blue {
    background-color: #0084FD;
    border-radius: 20px;
    padding: 10px 40px;
    
    text-decoration: none;
    color: white;
}

.button-blue a {
}
section:nth-of-type(1) .card:nth-of-type(1) img {
    width: 100%;
}
/* fine prima section  */


/* seconda section  */
section:nth-of-type(2) {
    background-color: #9792E4;
}

.container-small {  
    flex-direction: column;
    gap: 25px;
}

.planning-1 {
    width: 100%;
    margin-bottom: 80px;

}

.planning-2 {
    width: 100%;
    margin-bottom: 30px;
}

h2 {
    color: white;
    font-size: 30px;
    margin-bottom: 30px;
}

section:nth-of-type(2) .text p {
    color: white;
}

.development {
    background-color: white;
    text-align: center;
    padding: 24px 24px;
}

.development h3 {
    color: black;
}

.development p {
    padding-bottom: 30px;
}

.development .fa-solid {
    background-color: #9792E4;
    padding: 10px 12px;
    border-radius: 50%;
}
/* fine seconda section */


/* terza section */
.testimonials {
    height: 300px;
    margin-bottom: 50px;
}

.testimonials {
    text-align: center;
}

.testimonials h3 {
    color: black;
    
}
.testimonials h2 {
    color: #9792E4;
}
section:nth-of-type(3) .card {
    background-color: #9792E4;
    margin-bottom: 25px;
    padding: 30px 30px;

    flex-direction: column;
    gap: 25px;
}

.img-container {
    padding: 0px 30px;
}

section:nth-of-type(3) .card .img {
    width: calc(100vw - 60px - 60px - 60px);  /* padding card, padding img-container e padding section */
    height: calc(100vw - 60px - 60px - 60px);  /* padding card, padding img-container e padding section */
    border-radius: 50%;
    overflow: hidden;
}

section:nth-of-type(3) .card img {
    width: 100%;
    object-fit: cover;
}

section:nth-of-type(3) .card .text {
    color: white;
    text-align: center;
}

section:nth-of-type(3) .card .text strong {
    display: block;
    margin-top: 30px;
}
/* fine terza section */

/* quarta section */
section:nth-of-type(4) {
    background-color: #9792E4;
}

section:nth-of-type(4) h2 {
    color: white;
    margin-bottom: 25px;
    text-align: center;
}

section:nth-of-type(4) .cards {
    flex-direction: column;
    gap: 25px;
}

section:nth-of-type(4) .card {
    background-color: white;
    padding: 40px 25px;
}

section:nth-of-type(4) .card strong{
    font-size: 50px;
    color: #9792E4;
}

section:nth-of-type(4) .card h3{
    color: #9792E4;
}

section:nth-of-type(4) .card p {
    margin-bottom: 40px;
}

.button-violet {
    background-color: #9792E4;
    color: white;
    padding: 12px 45px;
    text-decoration: none;
    border-radius: 22px;
}
/* fine quarta section */


/* quinta section  */
section:nth-of-type(5) .cards {
    flex-direction: column;
}

section:nth-of-type(5) h2 {
    color: #9792E4;
}

section:nth-of-type(5) p {
    margin-bottom: 25px;
}

.img-container-2 {
    position: relative;
    width: 50vw;
    margin-bottom: 25px;
}

section:nth-of-type(5) .card .img {
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    overflow: hidden;
}

section:nth-of-type(5) .card .img .fa-solid {
    position: absolute;
    top: 0;
    right: 0;

    font-size: 58px;
    color: #9792E4;
}

section:nth-of-type(5) .card img {
    width: 100%;
    object-fit: cover;
}

section:nth-of-type(5) h3 {
    color: #9792E4;
}

section:nth-of-type(5) .button-violet {
    padding: 5px 10px;
}

section:nth-of-type(5) .fa-linkedin {
    margin-right: 10px;
}
/* fine quinta section  */


/* footer */
footer {
    text-align: center;
    color: white;
}
.footer-top {
    background-color: #9792E4;
    padding: 50px 30px;
}

.free {
    color: #FDC15F;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 30px;
}

.footer-top p {
    margin-bottom: 50px;
}

.button-big {
    display: inline-block;
    background-color: white;
    color: #9792E4;
    text-decoration: none;
    padding: 18px 60px;
    border-radius: 28px;

}

.footer-bottom {
    background-color: #333333;
    padding: 30px 30px;
}

.footer-bottom p {
    margin-bottom: 50px;
}

.footer-bottom a {
    color: #9792E4;
}
/* fine footer */



/* media query tablet  */
@media screen and (min-width: 768px) {
    
    /* prima section */
    section:nth-of-type(1) .cards {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
    }
    
    section:nth-of-type(1) .card {
        width: calc(100% / 3 - 25px / 3 * 2);
    }

    section:nth-of-type(1) .card:nth-of-type(1) {
        width: calc(100% - (100% / 3 - 25px / 3 * 2) - 25px);
    }

    section:nth-of-type(1) .card:nth-of-type(2) {
        height: 720px;
        /* test */
    }
    /* fine prima section */

    /* terza section */
    section:nth-of-type(3) .card {
        flex-direction: row;
    }

    section:nth-of-type(3) .card .img {
        width: 30%;
    }

    section:nth-of-type(3) .card .text {
        width: 70%;
    }
    /* fine terza section */

    /* quarta section */
    section:nth-of-type(4) .cards {
        flex-direction: row;
        flex-wrap: wrap;
    }

    section:nth-of-type(4) .card {
        width: calc(100% / 2 - 25px / 2);
    }
    /* fine quarta section */

    /* quinta section */
    section:nth-of-type(5) .cards {
        flex-direction: row;
    }

    section:nth-of-type(5) .card:nth-of-type(1) {
        max-width: 70%;
    }

    section:nth-of-type(5) .card:nth-of-type(2) {
        flex-grow: 1;
    }
    /* fine quinta section */


}
/* fine media query tablet  */


/* media query laptop */
@media screen and (min-width: 992px) {

    /* nav */
    .links {
        display: block;
    }

    .links .button {
        display: inline-block;
    }

    .menu {
        display: none;
    }
    /* fine nav */

    /* prima section */
    section:nth-of-type(1) .card:nth-of-type(1),
    section:nth-of-type(1) .card:nth-of-type(2) {

        height: 360px;
        /* test */
    }
    /* fine prima section */

    /* seconda section */
    .container-small {
        flex-direction: row;
        align-items: flex-end;
    }

    section:nth-of-type(2) .plan {
        width: 50%;
    }

    section:nth-of-type(2) .development {
        width: 50%;
    }
    /* fine seconda section */

    /* quarta section */
    section:nth-of-type(4) .card {
        width: calc(100% / 3 - 25px / 3 * 2);
    }
    /* fine quarta section */


}
/* fine media query laptop */

